body {
    background-color: #000000;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    background-color: steelblue;
    color: white;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 40%;
    transition: background 1.4s;
    --webkit-transition: background 1.4s;
    --moz-transition: background 0.8s
}


#container {
    margin: 20px auto;
    max-width: 600px;
}

/* 
 span {
     color: azure;
 } */

#stripe {
    background-color: azure;
    height: 30px;
    text-align: center;
    color: black;
}

#message{
    display: inline-block;
    width: 30%;
}


#colorDisplay{
    font-size: 200%;
}

.selected {
    color: white;
    background: steelblue;
}



button{
  border: none; 
  background: none;
  text-transform: uppercase;
  height: 100%; 
  color: steelblue;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.4s;
  --webkit-transition: all 0.4s;
  --moz-transition: all 0.4s
  outline: none;
  
}

button:hover{
    color: white;
    background: steelblue;
}

